header{
    text-align: center; 
    background: url("https://images.unsplash.com/photo-1500320821405-8fc1732209ca?auto=format&fit=crop&w=1350&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"); 
    padding: 20px 0px 0px 0px 0px;   
    color: #778899
} 

body { 
    margin: 0; 
    padding:0; 
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; 
    background-color:#ffb347;
 }

 a{ 
     color: #fdfd96;
    
    
 }
